# Игнорирование папки с зависимостями Composer
/vendor/

# Конфиденциальные файлы
.env
config.php

# Лог-файлы
/logs/
/*.log

# Файлы IDE
.idea/
.vscode/
.DS_Store

# Кэш и временные файлы
/cache/
/tmp/

# Игнорирование файлов сборки
/node_modules/
/dist/